<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Lista Estudiantes</h3>            
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Codigo</th>
                        <th>Acciones</th>
                    </tr>                    
                </thead>
                <tbody>
                    <tr *ngFor="let student of students" class="text-center">
                        <td>{{student.id}}</td>
                        <td>{{student.name}}</td>
                        <td>{{student.code}}</td>
                        
                        <td>
                            <button (click)="Editar(student)" class="btn btn-info">Editar</button>
                            <button (click)="Delete(student)" class="btn btn-danger">Eliminar</button>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>