<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Editar Estudiantes</h3>            
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="">Nombres: </label>
                    <input type="text" class="form-control" [(ngModel)]="student.name" name="name">
                </div>
                <div class="form-group">
                    <label for="">Codigo: </label>
                    <input type="number" class="form-control" [(ngModel)]="student.code" name="code">
                </div>
                <div class="modal-footer">
                    <button (click)="Actualizar(student)"  class="btn btn-success">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
